.home-buttons{
    position: relative;
    display: flex;
    justify-content: center;
}

.usercard-container{
    display: flex;
    justify-content: left;
}
.usercard-container>img{
    width: 20%;
    height: 100%;
    margin-right: 20px;
}
.question-info{
    width: 50%;
    height: 100%;
}
.answeredOption{
    color: green;
}
.leaderboardRank{
    border: 2px solid black;
    padding: 4px 12px 4px 12px;
    border-radius:50px ;
    color: white;
    background-color: #0A3D62;
}